# Environment variables
backend/.env
.env

# Go
backend/myrss-backend.exe
backend/myrss-backend

# SQLite Database
backend/*.db
backend/*.sqlite
backend/*.db-journal

# Node / React
frontend/node_modules/
frontend/dist/

# OS specific
.DS_Store
Thumbs.db
